<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{.PageTitle}}</title>
    </head>
    <body>
        <div class="list">
            {{if not .Tasks}}
            <h1>No tasks</h1>
            {{else}}
            <div>
                <ul>
                    {{range .Tasks}}
                    <li>
                        <p>{{.Title}}</p>
                        <p>{{.Content}}</p>
                    </li>
                    {{end}}
                </ul>
            </div>
            {{end}}
        </div>
    </body>
</html>
